html {
    height: 100%;

    body {
        min-height: 100%;

        .root-svg {
            width: 100%;
            height: 100vh;

            .triangle {
                cursor: pointer;
            }
        }
    }
}
